.content__cards{
    padding: 0%;
    width: 100%;
}
.clients__cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 1rem;
  gap: 2rem;
}
.clients__card {
    margin: 0 auto;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    border: 2px solid var(--color-border);
    transition: 0.5s ease-out;
    overflow: visible;
}  
.clients__card-details {
    height: 100%;
    display: grid;
    place-content: center;
}  
.clients__card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background: var(--fondo-instagram);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 25px;
    opacity: 0;
    transition: 0.3s ease-out;
}
   /*Hover*/  
.clients__card:hover .clients__card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}
   /*
