.pieces__content__cards{
  margin: 1rem auto;
  width: 80%;
}
.pieces__cards {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  gap: 1rem;
  scroll-padding: 10px;
  width: 100%;
  max-height: 100vh;
}
.pieces__item {
  scroll-snap-align: start;
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem;
}